<h1>Artists</h1>


<% @users.each do |user| %>
   <div>
  <%= link_to image_tag(user.artist_image.thumb.url), user_path(user) %>
    </div>

  <tr>
    <td><%= user.artist_name %></td>

    
  </tr>
<% end %>


<br />


